/*
FlexPrice API

FlexPrice API Service

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package flexprice

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// WebhooksAPIService WebhooksAPI service
type WebhooksAPIService service

type WebhooksAPIWebhooksChargebeeTenantIdEnvironmentIdPostRequest struct {
	ctx context.Context
	ApiService *WebhooksAPIService
	tenantId string
	environmentId string
	authorization *string
}

// Basic Auth credentials
func (r WebhooksAPIWebhooksChargebeeTenantIdEnvironmentIdPostRequest) Authorization(authorization string) WebhooksAPIWebhooksChargebeeTenantIdEnvironmentIdPostRequest {
	r.authorization = &authorization
	return r
}

func (r WebhooksAPIWebhooksChargebeeTenantIdEnvironmentIdPostRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.WebhooksChargebeeTenantIdEnvironmentIdPostExecute(r)
}

/*
WebhooksChargebeeTenantIdEnvironmentIdPost Handle Chargebee webhook events

Process incoming Chargebee webhook events for payment status updates

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId Tenant ID
 @param environmentId Environment ID
 @return WebhooksAPIWebhooksChargebeeTenantIdEnvironmentIdPostRequest
*/
func (a *WebhooksAPIService) WebhooksChargebeeTenantIdEnvironmentIdPost(ctx context.Context, tenantId string, environmentId string) WebhooksAPIWebhooksChargebeeTenantIdEnvironmentIdPostRequest {
	return WebhooksAPIWebhooksChargebeeTenantIdEnvironmentIdPostRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
		environmentId: environmentId,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *WebhooksAPIService) WebhooksChargebeeTenantIdEnvironmentIdPostExecute(r WebhooksAPIWebhooksChargebeeTenantIdEnvironmentIdPostRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WebhooksAPIService.WebhooksChargebeeTenantIdEnvironmentIdPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/webhooks/chargebee/{tenant_id}/{environment_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"tenant_id"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"environment_id"+"}", url.PathEscape(parameterValueToString(r.environmentId, "environmentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v map[string]interface{}
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v map[string]interface{}
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v map[string]interface{}
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type WebhooksAPIWebhooksHubspotTenantIdEnvironmentIdPostRequest struct {
	ctx context.Context
	ApiService *WebhooksAPIService
	tenantId string
	environmentId string
	xHubSpotSignatureV3 *string
}

// HubSpot webhook signature
func (r WebhooksAPIWebhooksHubspotTenantIdEnvironmentIdPostRequest) XHubSpotSignatureV3(xHubSpotSignatureV3 string) WebhooksAPIWebhooksHubspotTenantIdEnvironmentIdPostRequest {
	r.xHubSpotSignatureV3 = &xHubSpotSignatureV3
	return r
}

func (r WebhooksAPIWebhooksHubspotTenantIdEnvironmentIdPostRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.WebhooksHubspotTenantIdEnvironmentIdPostExecute(r)
}

/*
WebhooksHubspotTenantIdEnvironmentIdPost Handle HubSpot webhook events

Process incoming HubSpot webhook events for deal closed won and customer creation

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId Tenant ID
 @param environmentId Environment ID
 @return WebhooksAPIWebhooksHubspotTenantIdEnvironmentIdPostRequest
*/
func (a *WebhooksAPIService) WebhooksHubspotTenantIdEnvironmentIdPost(ctx context.Context, tenantId string, environmentId string) WebhooksAPIWebhooksHubspotTenantIdEnvironmentIdPostRequest {
	return WebhooksAPIWebhooksHubspotTenantIdEnvironmentIdPostRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
		environmentId: environmentId,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *WebhooksAPIService) WebhooksHubspotTenantIdEnvironmentIdPostExecute(r WebhooksAPIWebhooksHubspotTenantIdEnvironmentIdPostRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WebhooksAPIService.WebhooksHubspotTenantIdEnvironmentIdPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/webhooks/hubspot/{tenant_id}/{environment_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"tenant_id"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"environment_id"+"}", url.PathEscape(parameterValueToString(r.environmentId, "environmentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xHubSpotSignatureV3 == nil {
		return localVarReturnValue, nil, reportError("xHubSpotSignatureV3 is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-HubSpot-Signature-v3", r.xHubSpotSignatureV3, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type WebhooksAPIWebhooksNomodTenantIdEnvironmentIdPostRequest struct {
	ctx context.Context
	ApiService *WebhooksAPIService
	tenantId string
	environmentId string
	xAPIKEY *string
}

// Nomod webhook secret (if configured)
func (r WebhooksAPIWebhooksNomodTenantIdEnvironmentIdPostRequest) XAPIKEY(xAPIKEY string) WebhooksAPIWebhooksNomodTenantIdEnvironmentIdPostRequest {
	r.xAPIKEY = &xAPIKEY
	return r
}

func (r WebhooksAPIWebhooksNomodTenantIdEnvironmentIdPostRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.WebhooksNomodTenantIdEnvironmentIdPostExecute(r)
}

/*
WebhooksNomodTenantIdEnvironmentIdPost Handle Nomod webhook events

Process incoming Nomod webhook events for payment and invoice payments

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId Tenant ID
 @param environmentId Environment ID
 @return WebhooksAPIWebhooksNomodTenantIdEnvironmentIdPostRequest
*/
func (a *WebhooksAPIService) WebhooksNomodTenantIdEnvironmentIdPost(ctx context.Context, tenantId string, environmentId string) WebhooksAPIWebhooksNomodTenantIdEnvironmentIdPostRequest {
	return WebhooksAPIWebhooksNomodTenantIdEnvironmentIdPostRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
		environmentId: environmentId,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *WebhooksAPIService) WebhooksNomodTenantIdEnvironmentIdPostExecute(r WebhooksAPIWebhooksNomodTenantIdEnvironmentIdPostRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WebhooksAPIService.WebhooksNomodTenantIdEnvironmentIdPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/webhooks/nomod/{tenant_id}/{environment_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"tenant_id"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"environment_id"+"}", url.PathEscape(parameterValueToString(r.environmentId, "environmentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAPIKEY != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-API-KEY", r.xAPIKEY, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v map[string]interface{}
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type WebhooksAPIWebhooksQuickbooksTenantIdEnvironmentIdPostRequest struct {
	ctx context.Context
	ApiService *WebhooksAPIService
	tenantId string
	environmentId string
	intuitSignature *string
}

// QuickBooks webhook signature
func (r WebhooksAPIWebhooksQuickbooksTenantIdEnvironmentIdPostRequest) IntuitSignature(intuitSignature string) WebhooksAPIWebhooksQuickbooksTenantIdEnvironmentIdPostRequest {
	r.intuitSignature = &intuitSignature
	return r
}

func (r WebhooksAPIWebhooksQuickbooksTenantIdEnvironmentIdPostRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.WebhooksQuickbooksTenantIdEnvironmentIdPostExecute(r)
}

/*
WebhooksQuickbooksTenantIdEnvironmentIdPost Handle QuickBooks webhook events

Process incoming QuickBooks webhook events for payment sync

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId Tenant ID
 @param environmentId Environment ID
 @return WebhooksAPIWebhooksQuickbooksTenantIdEnvironmentIdPostRequest
*/
func (a *WebhooksAPIService) WebhooksQuickbooksTenantIdEnvironmentIdPost(ctx context.Context, tenantId string, environmentId string) WebhooksAPIWebhooksQuickbooksTenantIdEnvironmentIdPostRequest {
	return WebhooksAPIWebhooksQuickbooksTenantIdEnvironmentIdPostRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
		environmentId: environmentId,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *WebhooksAPIService) WebhooksQuickbooksTenantIdEnvironmentIdPostExecute(r WebhooksAPIWebhooksQuickbooksTenantIdEnvironmentIdPostRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WebhooksAPIService.WebhooksQuickbooksTenantIdEnvironmentIdPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/webhooks/quickbooks/{tenant_id}/{environment_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"tenant_id"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"environment_id"+"}", url.PathEscape(parameterValueToString(r.environmentId, "environmentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.intuitSignature != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "intuit-signature", r.intuitSignature, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v map[string]interface{}
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v map[string]interface{}
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v map[string]interface{}
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type WebhooksAPIWebhooksRazorpayTenantIdEnvironmentIdPostRequest struct {
	ctx context.Context
	ApiService *WebhooksAPIService
	tenantId string
	environmentId string
	xRazorpaySignature *string
}

// Razorpay webhook signature
func (r WebhooksAPIWebhooksRazorpayTenantIdEnvironmentIdPostRequest) XRazorpaySignature(xRazorpaySignature string) WebhooksAPIWebhooksRazorpayTenantIdEnvironmentIdPostRequest {
	r.xRazorpaySignature = &xRazorpaySignature
	return r
}

func (r WebhooksAPIWebhooksRazorpayTenantIdEnvironmentIdPostRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.WebhooksRazorpayTenantIdEnvironmentIdPostExecute(r)
}

/*
WebhooksRazorpayTenantIdEnvironmentIdPost Handle Razorpay webhook events

Process incoming Razorpay webhook events for payment capture and failure

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId Tenant ID
 @param environmentId Environment ID
 @return WebhooksAPIWebhooksRazorpayTenantIdEnvironmentIdPostRequest
*/
func (a *WebhooksAPIService) WebhooksRazorpayTenantIdEnvironmentIdPost(ctx context.Context, tenantId string, environmentId string) WebhooksAPIWebhooksRazorpayTenantIdEnvironmentIdPostRequest {
	return WebhooksAPIWebhooksRazorpayTenantIdEnvironmentIdPostRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
		environmentId: environmentId,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *WebhooksAPIService) WebhooksRazorpayTenantIdEnvironmentIdPostExecute(r WebhooksAPIWebhooksRazorpayTenantIdEnvironmentIdPostRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WebhooksAPIService.WebhooksRazorpayTenantIdEnvironmentIdPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/webhooks/razorpay/{tenant_id}/{environment_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"tenant_id"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"environment_id"+"}", url.PathEscape(parameterValueToString(r.environmentId, "environmentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xRazorpaySignature == nil {
		return localVarReturnValue, nil, reportError("xRazorpaySignature is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Razorpay-Signature", r.xRazorpaySignature, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type WebhooksAPIWebhooksStripeTenantIdEnvironmentIdPostRequest struct {
	ctx context.Context
	ApiService *WebhooksAPIService
	tenantId string
	environmentId string
	stripeSignature *string
}

// Stripe webhook signature
func (r WebhooksAPIWebhooksStripeTenantIdEnvironmentIdPostRequest) StripeSignature(stripeSignature string) WebhooksAPIWebhooksStripeTenantIdEnvironmentIdPostRequest {
	r.stripeSignature = &stripeSignature
	return r
}

func (r WebhooksAPIWebhooksStripeTenantIdEnvironmentIdPostRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.WebhooksStripeTenantIdEnvironmentIdPostExecute(r)
}

/*
WebhooksStripeTenantIdEnvironmentIdPost Handle Stripe webhook events

Process incoming Stripe webhook events for payment status updates and customer creation

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId Tenant ID
 @param environmentId Environment ID
 @return WebhooksAPIWebhooksStripeTenantIdEnvironmentIdPostRequest
*/
func (a *WebhooksAPIService) WebhooksStripeTenantIdEnvironmentIdPost(ctx context.Context, tenantId string, environmentId string) WebhooksAPIWebhooksStripeTenantIdEnvironmentIdPostRequest {
	return WebhooksAPIWebhooksStripeTenantIdEnvironmentIdPostRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
		environmentId: environmentId,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *WebhooksAPIService) WebhooksStripeTenantIdEnvironmentIdPostExecute(r WebhooksAPIWebhooksStripeTenantIdEnvironmentIdPostRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WebhooksAPIService.WebhooksStripeTenantIdEnvironmentIdPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/webhooks/stripe/{tenant_id}/{environment_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"tenant_id"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"environment_id"+"}", url.PathEscape(parameterValueToString(r.environmentId, "environmentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.stripeSignature == nil {
		return localVarReturnValue, nil, reportError("stripeSignature is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Stripe-Signature", r.stripeSignature, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v map[string]interface{}
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v map[string]interface{}
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
